@model Moviepedia.Models.Movie

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title>
</head>
<body >

    @*<div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>*@
    <div class="card border-info" style="width: 18rem; background-color:transparent; position:absolute; left: 5rem; top:6rem;">
        <img src="@Url.Content("~/Images/")@Model.Name .png" />
        <div class="card-body">
            <h3>@Model.Name (@Model.Year)</h3>
            <div style="display:inline-flex">
                <h5>@Model.Rating / 10 </h5>
                <img src="@Url.Content("~/Images/star.png")" width="20" height="20" style="margin-top:2px; margin-left:5px; margin-right:5px" />
                @if (ViewBag.HasReview)
                {
                    <h5>(@ViewBag.Reviews.Count reviews)</h5>
                }
                else
                {
                    <h5>(no reviews yet)</h5>
                }
            </div>
            <div>
                <h5>
                    <h5>@Html.DisplayNameFor(Model=>Model.Director): @Model.Director</h5>
                    <h5>@Html.DisplayNameFor(Model=>Model.Language): @Model.Language</h5>
                </h5>
            </div>
        </div>
    </div>
    <div style="position:absolute; bottom:5rem; left:5rem">
        <a class="btn btn-outline-info" asp-action="Index">Back</a>
    </div>
</body>
</html>
